@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;1,500&family=Nanum+Myeongjo&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.container {
    width: 100%;
    max-width: 1200px; /* 그리드시스템 크기 */
    margin: 0;
    padding: 0 10px; /* 첫 번째 그리드의 좌측 마진과 마지막 그리그의 우측 마진을 표현 */
    /* background-color: bisque; */
}

.menu {
    width: 100%;
}

nav {
    margin: 20px 20px;
}

.gnb {
    display: none;
}

.hamburger[id="icon"] + label{
    position: relative;
    display:block;
    width:60px;
    height:40px;
    cursor:pointer;  /* 커서를 올려놓을 때 모양이 바뀐다. */
} 

input[id="icon"] + label > span {
    position: absolute;
    display:block;
    width:100%;
    height:5px;
    border-radius:30px;
    background:#000;
    transition: all 0.35s;  /* 진행되는 과정들을 천천히 보여줄 수 있다. 0.35초 동안 진행됨 */
    z-index:2;

}

input[id="icon"] + label > span:nth-child(1) {
    top:0px;
}

input[id="icon"] + label > span:nth-child(2) {
    top:50%;
    transform: translateY(-50%);  /* 엘리먼트를 변형할 때 쓴다. 비틀거나 구부리거나 돌릴 때 . 여러가지로 모양을 바꿀 때 */
}

input[id="icon"] + label > span:nth-child(3) {
    bottom:0px;
}


input[id="icon"]:checked + label > span:nth-child(1) {
    top:50%;
    transform:translateY(-50%) rotate(45deg);
}

input[id="icon"]:checked + label > span:nth-child(2) {
    opacity: 0;
}

input[id="icon"]:checked + label > span:nth-child(3) {
    bottom:50%;
    transform:translateY(50%) rotate(-45deg);
}

#icon + label + #header {
    position:fixed;  /* 스크롤을 내리더라도 같은 위치에서 붙어다닌다. */
    width:300px;
    height:100%;
    background:#333;
    top:0px;
    padding:60px 25px 25px 25px;
    box-sizing:border-box;
    left:-300px;
    z-index:1;
    transition: all 0.35s;
}

#icon:checked + label + #header {
    left:0px;
}

#icon:checked + label + #header > ul > li > a {
    color: white;

}



.menu-trigger {
    margin-right: 70px;
    margin-bottom: 50px;
  }

  .menu-trigger,
  .menu-trigger span {
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
  }
  
  .menu-trigger {
    position: relative;
    width: 50px;
    height: 44px;
  }
  
  .menu-trigger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #fff;
    border-radius: 4px;
  }
  
  .menu-trigger span:nth-of-type(1) {
    top: 0;
  }
  
  .menu-trigger span:nth-of-type(2) {
    top: 20px;
  }
  
  .menu-trigger span:nth-of-type(3) {
    bottom: 0;
  }
  
  /* type-01 */
  /* 중앙 라인이 고정된 자리에서 투명하게 사라지며 상하라인 회전하며 엑스자 만들기 */
  .menu-trigger.active-1 span:nth-of-type(1) {
    -webkit-transform: translateY (20px) rotate (-45deg);
    transform: translateY(20px) rotate(-45deg);
  }
  
  .menu-trigger.active-1 span:nth-of-type(2) {
    opacity: 0;
  }
  
  .menu-trigger.active-1 span:nth-of-type(3) {
    -webkit-transform: translateY(-20px) rotate(45deg);
    transform: translateY(-20px) rotate(45deg);
  }
  
    
header article img {
    width: 100%;
}

/* ===== main ===== */
section {
    margin: 30px 20px;
}

.flex-box {
    flex-direction: column;
    text-align: center;
}

.WE-ARE p {
    font: 18px "PT+Serif"
}

.WORK-imgLINE {
    padding: 0;
    margin: 0;
}

.WORK-imgLINE img {
    width: 100%;
}

.main-intro figcaption {
    margin: 10px;
    color: #4f769b;
}

.blog-box {
    text-align: left;
}

.blog-box img {
    width: 100%;
}

.BLOG .date {
    color: #a5a5a5;
}

.ID {
    width: 100%;
}

.ID input {
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

#suggestion {
    text-align: left;   
}



/* ===== footer ===== */
footer h3 {
    text-align: center;
    padding: 20px;
}


.memo {
    margin-top: 50px;
}

/*========== PC ==========*/
@media screen and (min-width:1024px) {
    /* header */
    .gnb {
        display: block;
    }
}
